body{
background-color:blueviolet;    
color: white;
}

.heading{
width: 80%;
font-size: 25px;
}

#camera{
border: 2px dotted cornflowerblue;
width: 350px;
height: 300px;
}

.name_of_objects,#result_object_name,#result_object_accuracy{
color: aquamarine;
}